rancher2_token="<rancher token>"
rancher2_api_url="https://<rancher server url>"

rancher2_cluster_name="<cluster name for rancher>"
rancher2_cluster_description="<cluster description for rancher>"
rancher2_cluster_cidr="10.42.0.0/16"
rancher2_service_cidr="10.43.0.0/16"
rancher2_cluster_domain="cluster.local"
rancher2_cluster_dns_server="10.43.0.10"

aws_credentials_file = "<aws credentials file>"
aws_prefix = "<aws resource prefix>"
aws_region = "us-west-2"
aws_ssh_key_name = "<aws keypair name>"
aws_vpc_id = "<vpc id>"
aws_ami_id = "<ami-id of desired use>"

master_count=1
master_aws_type="t2.medium"
master_volume_size="35"
master_az = "us-west-1b"

wrk_count=3
wrk_aws_type="t2.medium"
wrk_volume_size="35"
wrk_az = "us-west-1b"